SistemaBienestarEstudiantil.Tests/bin
SistemaBienestarEstudiantil.Tests/obj
SistemaBienestarEstudiantil/bin
SistemaBienestarEstudiantil/obj
SistemaBienestarEstudiantil/*.user
SistemaBienestarEstudiantil.suo
