/****** Object:  Table [dbo].[BE_ACCESO] ******/
CREATE TABLE [dbo].[BE_ACCESO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](20) NOT NULL,
 CONSTRAINT [PK_MODULO] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[BE_ACTIVIDAD] ******/
CREATE TABLE [dbo].[BE_ACTIVIDAD](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[FECHA] [datetime] NULL,
	[ESTADO] [int] NOT NULL,
	[OBSERVACION] [nvarchar](max) NULL,
	[CODIGOACTIVIDADGENERAL] [int] NOT NULL,
	[CODIGOUSUARIO] [int] NOT NULL,
 CONSTRAINT [PK_ACTIVIDAD_1] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

/****** Object:  Table [dbo].[BE_ACTIVIDAD_ADJUNTO] ******/
CREATE TABLE [dbo].[BE_ACTIVIDAD_ADJUNTO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGOACTIVIDAD] [int] NOT NULL,
	[ADJUNTO] [varbinary](max) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[CONTENTTYPE] [varchar](20) NOT NULL,
	[DESCRIPCION] [varchar](250) NULL,
 CONSTRAINT [PK_ACTIVIDAD_ADJUNTO] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

/****** Object:  Table [dbo].[BE_ACTIVIDAD_GENERAL] ******/
CREATE TABLE [dbo].[BE_ACTIVIDAD_GENERAL](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ACTIVIDAD_GENERAL] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[BE_ASISTENCIA] ******/
CREATE TABLE [dbo].[BE_ASISTENCIA](
	[CODIGO] [bigint] IDENTITY(1,1) NOT NULL,
	[CODIGOGRUPO] [int] NOT NULL,
	[CODIGOALUMNO] [bigint] NOT NULL,
	[CODIGOACTIVIDAD] [int] NOT NULL,
	[ASISTENCIA] [bit] NOT NULL,
	[NOTIFICACIONENVIADA] [numeric](18, 0),
 CONSTRAINT [PK_ASISTENCIA_1] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC,
	[CODIGOGRUPO] ASC,
	[CODIGOALUMNO] ASC,
	[CODIGOACTIVIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[BE_BECA_ADJUNTO] ******/
CREATE TABLE [dbo].[BE_BECA_ADJUNTO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGOSOLICITUD] [int] NOT NULL,
	[NOMBRE] [nvarchar](150) NOT NULL,
	[DESCRIPCION] [varchar](250) NOT NULL,
	[ADJUNTO] [varbinary](max) NULL,
	[CONTENTTYPE] [varchar](50) NULL,
	[DOCUMENTOSOLICITUD] [bit] NOT NULL,
 CONSTRAINT [PK_BECA_ADJUNTO] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

/****** Object:  Table [dbo].[BE_BECA_SOLICITUD] ******/
CREATE TABLE [dbo].[BE_BECA_SOLICITUD](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CEDULA] [char](10) NOT NULL,
	[CODIGOTIPO] [int] NOT NULL,
	[APROBADA] [int] NOT NULL,
	[OBSERVACION] [nvarchar](300) NULL,
 CONSTRAINT [PK_BECA_SOLICITUD] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[BE_BECA_SOLICITUD_HISTORIAL] ******/
CREATE TABLE [dbo].[BE_BECA_SOLICITUD_HISTORIAL](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGOUSUARIO] [int] NOT NULL,
	[CODIGOSOLICITUD] [int] NOT NULL,
	[OTORGADO] [decimal](18, 0) NOT NULL,
	[RUBRO] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
 CONSTRAINT [PK_BE_BECA_SOLICITUD_HISTORIAL] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[BE_BECA_TIPO] ******/
CREATE TABLE [dbo].[BE_BECA_TIPO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](150) NOT NULL,
 CONSTRAINT [PK_BECA_TIPO] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[BE_BECA_TIPO_DOCUMENTO] ******/
CREATE TABLE [dbo].[BE_BECA_TIPO_DOCUMENTO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGOTIPO] [int] NOT NULL,
	[NOMBRE] [varchar](150) NOT NULL,
	[DESCRIPCION] [varchar](max) NOT NULL,
 CONSTRAINT [PK_BECA_TIPO_DOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

/****** Object:  Table [dbo].[BE_DATOS_SISTEMA] ******/
CREATE TABLE [dbo].[BE_DATOS_SISTEMA](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](20) NOT NULL,
	[VALOR] [nvarchar](50) NULL,
	[ACTIVO] [bit] NOT NULL,
 CONSTRAINT [PK_DATOS_SISTEMA_1] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[BE_ENCUESTA] ******/
CREATE TABLE [dbo].[BE_ENCUESTA](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[TITULO] [varchar](200) NOT NULL,
	[DESCRIPCION] [varchar](max) NULL,
	[FECHA] [datetime] NOT NULL,
 CONSTRAINT [PK_ENCUESTA] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

/****** Object:  Table [dbo].[BE_ENCUESTA_PREGUNTA] ******/
CREATE TABLE [dbo].[BE_ENCUESTA_PREGUNTA](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGOENCUESTA] [int] NOT NULL,
	[TITULO] [nvarchar](200) NOT NULL,
	[TIPO] [int] NOT NULL,
	[REQUERIDO] [bit] NOT NULL,
 CONSTRAINT [PK_ENCUESTA_PREGUNTA] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[BE_ENCUESTA_RESPUESTA] ******/
CREATE TABLE [dbo].[BE_ENCUESTA_RESPUESTA](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[TEXTO] [nvarchar](max) NOT NULL,
	[CODIGOPREGUNTA] [int] NOT NULL,
 CONSTRAINT [PK_ENCUESTA_RESPUESTA] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

/****** Object:  Table [dbo].[BE_ENCUESTA_RESPUESTA_ALUMNO] ******/
CREATE TABLE [dbo].[BE_ENCUESTA_RESPUESTA_ALUMNO](
	[CODIGOGRADUADO] [int] NOT NULL,
	[CODIGOENCUESTA] [int] NOT NULL,
	[CODIGOPREGUNTA] [int] NOT NULL,
	[CODIGORESPUESTA] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
 CONSTRAINT [PK_BE_ENCUESTA_RESPUESTA_ALUMNO] PRIMARY KEY CLUSTERED 
(
	[CODIGOGRADUADO] ASC,
	[CODIGOENCUESTA] ASC,
	[CODIGOPREGUNTA] ASC,
	[CODIGORESPUESTA] ASC,
	[FECHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BE_ENCUESTA_RESPUESTA_TEXTO] ******/
CREATE TABLE [dbo].[BE_ENCUESTA_RESPUESTA_TEXTO](
	[CODIGOGRADUADO] [int] NOT NULL,
	[CODIGOENCUESTA] [int] NOT NULL,
	[CODIGOPREGUNTA] [int] NOT NULL,
	[TEXTO] [varchar](250) NULL,
	[FECHA] [datetime] NOT NULL,
 CONSTRAINT [PK_BE_ENCUESTA_RESPUESTA_TEXTO] PRIMARY KEY CLUSTERED 
(
	[CODIGOGRADUADO] ASC,
	[CODIGOENCUESTA] ASC,
	[CODIGOPREGUNTA] ASC,
	[FECHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[BE_GRUPO] ******/
CREATE TABLE [dbo].[BE_GRUPO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGONIVEL] [int] NOT NULL,
	[CODIGOMODALIDAD] [int] NOT NULL,
 CONSTRAINT [PK_GRUPO] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[BE_GRUPO_ACTIVIDAD] ******/
CREATE TABLE [dbo].[BE_GRUPO_ACTIVIDAD](
	[CODIGOGRUPO] [int] NOT NULL,
	[CODIGOACTIVIDAD] [int] NOT NULL,
	[ESTADO] [bit] NULL,
 CONSTRAINT [PK_GRUPO_ACTIVIDAD] PRIMARY KEY CLUSTERED 
(
	[CODIGOGRUPO] ASC,
	[CODIGOACTIVIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[BE_ROL] ******/
CREATE TABLE [dbo].[BE_ROL](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[ACTIVO] [bit] NOT NULL,
 CONSTRAINT [PK_ROL] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[BE_ROL_ACCESO] ******/
CREATE TABLE [dbo].[BE_ROL_ACCESO](
	[CODIGOROL] [int] NOT NULL,
	[CODIGOACCESO] [int] NOT NULL,
	[VALIDO] [bit] NOT NULL,
 CONSTRAINT [PK_ROL_MODULO] PRIMARY KEY CLUSTERED 
(
	[CODIGOROL] ASC,
	[CODIGOACCESO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[BE_USUARIO] ******/
CREATE TABLE [dbo].[BE_USUARIO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBREUSUARIO] [varchar](20) NOT NULL,
	[NOMBRECOMPLETO] [varchar](50) NOT NULL,
	[CEDULA] [varchar](10) NOT NULL,
	[CORREO] [varchar](40) NOT NULL,
	[CONTRASENAANTERIOR] [varchar](10) NOT NULL,
	[CONTRASENAACTUAL] [varchar](10) NOT NULL,
	[ESTADO] [bit] NOT NULL,
	[CODIGOROL] [int] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** RELACIONES ******/

ALTER TABLE [dbo].[BE_BECA_ADJUNTO] ADD  CONSTRAINT [DF_BE_BECA_ADJUNTO_DOCUMENTOSOLICITUD]  DEFAULT ((0)) FOR [DOCUMENTOSOLICITUD]
GO
ALTER TABLE [dbo].[BE_DATOS_SISTEMA] ADD  CONSTRAINT [DF_DATOS_SISTEMA_ACTIVO]  DEFAULT ((1)) FOR [ACTIVO]
GO
ALTER TABLE [dbo].[BE_ACTIVIDAD]  WITH CHECK ADD  CONSTRAINT [FK_BE_ACTIVIDAD_BE_ACTIVIDAD_GENERAL] FOREIGN KEY([CODIGOACTIVIDADGENERAL])
REFERENCES [dbo].[BE_ACTIVIDAD_GENERAL] ([CODIGO])
GO
ALTER TABLE [dbo].[BE_ACTIVIDAD] CHECK CONSTRAINT [FK_BE_ACTIVIDAD_BE_ACTIVIDAD_GENERAL]
GO
ALTER TABLE [dbo].[BE_ACTIVIDAD]  WITH CHECK ADD  CONSTRAINT [FK_BE_ACTIVIDAD_BE_USUARIO] FOREIGN KEY([CODIGOUSUARIO])
REFERENCES [dbo].[BE_USUARIO] ([CODIGO])
GO
ALTER TABLE [dbo].[BE_ACTIVIDAD] CHECK CONSTRAINT [FK_BE_ACTIVIDAD_BE_USUARIO]
GO
ALTER TABLE [dbo].[BE_ACTIVIDAD_ADJUNTO]  WITH CHECK ADD  CONSTRAINT [FK_BE_ACTIVIDAD_ADJUNTO_BE_ACTIVIDAD] FOREIGN KEY([CODIGOACTIVIDAD])
REFERENCES [dbo].[BE_ACTIVIDAD] ([CODIGO])
GO
ALTER TABLE [dbo].[BE_ACTIVIDAD_ADJUNTO] CHECK CONSTRAINT [FK_BE_ACTIVIDAD_ADJUNTO_BE_ACTIVIDAD]
GO
ALTER TABLE [dbo].[BE_ASISTENCIA]  WITH CHECK ADD  CONSTRAINT [FK_BE_ASISTENCIA_BE_ACTIVIDAD] FOREIGN KEY([CODIGOACTIVIDAD])
REFERENCES [dbo].[BE_ACTIVIDAD] ([CODIGO])
GO
ALTER TABLE [dbo].[BE_ASISTENCIA] CHECK CONSTRAINT [FK_BE_ASISTENCIA_BE_ACTIVIDAD]
GO
ALTER TABLE [dbo].[BE_ASISTENCIA]  WITH CHECK ADD  CONSTRAINT [FK_BE_ASISTENCIA_BE_GRUPO] FOREIGN KEY([CODIGOGRUPO])
REFERENCES [dbo].[BE_GRUPO] ([CODIGO])
GO
ALTER TABLE [dbo].[BE_ASISTENCIA] CHECK CONSTRAINT [FK_BE_ASISTENCIA_BE_GRUPO]
GO
ALTER TABLE [dbo].[BE_ASISTENCIA]  WITH CHECK ADD  CONSTRAINT [FK_BE_ASISTENCIA_MATRICULA] FOREIGN KEY([CODIGOALUMNO])
REFERENCES [dbo].[MATRICULA] ([MTRNUMEROI])
GO
ALTER TABLE [dbo].[BE_ASISTENCIA] CHECK CONSTRAINT [FK_BE_ASISTENCIA_MATRICULA]
GO
ALTER TABLE [dbo].[BE_BECA_ADJUNTO]  WITH CHECK ADD  CONSTRAINT [FK_BE_BECA_ADJUNTO_BE_BECA_SOLICITUD] FOREIGN KEY([CODIGOSOLICITUD])
REFERENCES [dbo].[BE_BECA_SOLICITUD] ([CODIGO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BE_BECA_ADJUNTO] CHECK CONSTRAINT [FK_BE_BECA_ADJUNTO_BE_BECA_SOLICITUD]
GO
ALTER TABLE [dbo].[BE_BECA_SOLICITUD]  WITH CHECK ADD  CONSTRAINT [FK_BE_BECA_SOLICITUD_BE_BECA_TIPO] FOREIGN KEY([CODIGOTIPO])
REFERENCES [dbo].[BE_BECA_TIPO] ([CODIGO])
GO
ALTER TABLE [dbo].[BE_BECA_SOLICITUD] CHECK CONSTRAINT [FK_BE_BECA_SOLICITUD_BE_BECA_TIPO]
GO
ALTER TABLE [dbo].[BE_BECA_SOLICITUD]  WITH CHECK ADD  CONSTRAINT [FK_BE_BECA_SOLICITUD_DATOSPERSONALES] FOREIGN KEY([CEDULA])
REFERENCES [dbo].[DATOSPERSONALES] ([DTPCEDULAC])
GO
ALTER TABLE [dbo].[BE_BECA_SOLICITUD] CHECK CONSTRAINT [FK_BE_BECA_SOLICITUD_DATOSPERSONALES]
GO
ALTER TABLE [dbo].[BE_BECA_SOLICITUD_HISTORIAL]  WITH CHECK ADD  CONSTRAINT [FK_BE_BECA_SOLICITUD_HISTORIAL_BE_BECA_SOLICITUD] FOREIGN KEY([CODIGOSOLICITUD])
REFERENCES [dbo].[BE_BECA_SOLICITUD] ([CODIGO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BE_BECA_SOLICITUD_HISTORIAL] CHECK CONSTRAINT [FK_BE_BECA_SOLICITUD_HISTORIAL_BE_BECA_SOLICITUD]
GO
ALTER TABLE [dbo].[BE_BECA_SOLICITUD_HISTORIAL]  WITH CHECK ADD  CONSTRAINT [FK_BE_BECA_SOLICITUD_HISTORIAL_BE_USUARIO] FOREIGN KEY([CODIGOUSUARIO])
REFERENCES [dbo].[BE_USUARIO] ([CODIGO])
GO
ALTER TABLE [dbo].[BE_BECA_SOLICITUD_HISTORIAL] CHECK CONSTRAINT [FK_BE_BECA_SOLICITUD_HISTORIAL_BE_USUARIO]
GO
ALTER TABLE [dbo].[BE_BECA_TIPO_DOCUMENTO]  WITH CHECK ADD  CONSTRAINT [FK_BE_BECA_TIPO_DOCUMENTO_BE_BECA_TIPO] FOREIGN KEY([CODIGOTIPO])
REFERENCES [dbo].[BE_BECA_TIPO] ([CODIGO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BE_BECA_TIPO_DOCUMENTO] CHECK CONSTRAINT [FK_BE_BECA_TIPO_DOCUMENTO_BE_BECA_TIPO]
GO
ALTER TABLE [dbo].[BE_ENCUESTA_PREGUNTA]  WITH CHECK ADD  CONSTRAINT [FK_BE_ENCUESTA_PREGUNTA_BE_ENCUESTA] FOREIGN KEY([CODIGOENCUESTA])
REFERENCES [dbo].[BE_ENCUESTA] ([CODIGO])
GO
ALTER TABLE [dbo].[BE_ENCUESTA_PREGUNTA] CHECK CONSTRAINT [FK_BE_ENCUESTA_PREGUNTA_BE_ENCUESTA]
GO
ALTER TABLE [dbo].[BE_ENCUESTA_RESPUESTA]  WITH CHECK ADD  CONSTRAINT [FK_BE_ENCUESTA_RESPUESTA_BE_ENCUESTA_PREGUNTA] FOREIGN KEY([CODIGOPREGUNTA])
REFERENCES [dbo].[BE_ENCUESTA_PREGUNTA] ([CODIGO])
GO
ALTER TABLE [dbo].[BE_ENCUESTA_RESPUESTA] CHECK CONSTRAINT [FK_BE_ENCUESTA_RESPUESTA_BE_ENCUESTA_PREGUNTA]
GO
ALTER TABLE [dbo].[BE_ENCUESTA_RESPUESTA_ALUMNO]  WITH CHECK ADD  CONSTRAINT [FK_BE_ENCUESTA_RESPUESTA_ALUMNO_BE_ENCUESTA] FOREIGN KEY([CODIGOENCUESTA])
REFERENCES [dbo].[BE_ENCUESTA] ([CODIGO])
GO
ALTER TABLE [dbo].[BE_ENCUESTA_RESPUESTA_ALUMNO] CHECK CONSTRAINT [FK_BE_ENCUESTA_RESPUESTA_ALUMNO_BE_ENCUESTA]
GO
ALTER TABLE [dbo].[BE_ENCUESTA_RESPUESTA_ALUMNO]  WITH CHECK ADD  CONSTRAINT [FK_BE_ENCUESTA_RESPUESTA_ALUMNO_BE_ENCUESTA_PREGUNTA] FOREIGN KEY([CODIGOPREGUNTA])
REFERENCES [dbo].[BE_ENCUESTA_PREGUNTA] ([CODIGO])
GO
ALTER TABLE [dbo].[BE_ENCUESTA_RESPUESTA_ALUMNO] CHECK CONSTRAINT [FK_BE_ENCUESTA_RESPUESTA_ALUMNO_BE_ENCUESTA_PREGUNTA]
GO
ALTER TABLE [dbo].[BE_ENCUESTA_RESPUESTA_ALUMNO]  WITH CHECK ADD  CONSTRAINT [FK_BE_ENCUESTA_RESPUESTA_ALUMNO_BE_ENCUESTA_RESPUESTA] FOREIGN KEY([CODIGORESPUESTA])
REFERENCES [dbo].[BE_ENCUESTA_RESPUESTA] ([CODIGO])
GO
ALTER TABLE [dbo].[BE_ENCUESTA_RESPUESTA_ALUMNO] CHECK CONSTRAINT [FK_BE_ENCUESTA_RESPUESTA_ALUMNO_BE_ENCUESTA_RESPUESTA]
GO
ALTER TABLE [dbo].[BE_ENCUESTA_RESPUESTA_ALUMNO]  WITH CHECK ADD  CONSTRAINT [FK_BE_ENCUESTA_RESPUESTA_ALUMNO_GRADUADOS] FOREIGN KEY([CODIGOGRADUADO])
REFERENCES [dbo].[GRADUADOS] ([GRDCODIGOI])
GO
ALTER TABLE [dbo].[BE_ENCUESTA_RESPUESTA_ALUMNO] CHECK CONSTRAINT [FK_BE_ENCUESTA_RESPUESTA_ALUMNO_GRADUADOS]
GO
ALTER TABLE [dbo].[BE_ENCUESTA_RESPUESTA_TEXTO]  WITH CHECK ADD  CONSTRAINT [FK_BE_ENCUESTA_RESPUESTA_TEXTO_BE_ENCUESTA] FOREIGN KEY([CODIGOENCUESTA])
REFERENCES [dbo].[BE_ENCUESTA] ([CODIGO])
GO
ALTER TABLE [dbo].[BE_ENCUESTA_RESPUESTA_TEXTO] CHECK CONSTRAINT [FK_BE_ENCUESTA_RESPUESTA_TEXTO_BE_ENCUESTA]
GO
ALTER TABLE [dbo].[BE_ENCUESTA_RESPUESTA_TEXTO]  WITH CHECK ADD  CONSTRAINT [FK_BE_ENCUESTA_RESPUESTA_TEXTO_BE_ENCUESTA_PREGUNTA] FOREIGN KEY([CODIGOPREGUNTA])
REFERENCES [dbo].[BE_ENCUESTA_PREGUNTA] ([CODIGO])
GO
ALTER TABLE [dbo].[BE_ENCUESTA_RESPUESTA_TEXTO] CHECK CONSTRAINT [FK_BE_ENCUESTA_RESPUESTA_TEXTO_BE_ENCUESTA_PREGUNTA]
GO
ALTER TABLE [dbo].[BE_ENCUESTA_RESPUESTA_TEXTO]  WITH CHECK ADD  CONSTRAINT [FK_BE_ENCUESTA_RESPUESTA_TEXTO_GRADUADOS] FOREIGN KEY([CODIGOGRADUADO])
REFERENCES [dbo].[GRADUADOS] ([GRDCODIGOI])
GO
ALTER TABLE [dbo].[BE_ENCUESTA_RESPUESTA_TEXTO] CHECK CONSTRAINT [FK_BE_ENCUESTA_RESPUESTA_TEXTO_GRADUADOS]
GO
ALTER TABLE [dbo].[BE_GRUPO]  WITH CHECK ADD  CONSTRAINT [FK_BE_GRUPO_CARRERA_MODAL] FOREIGN KEY([CODIGOMODALIDAD])
REFERENCES [dbo].[CARRERA_MODAL] ([CRRMODCODIGOI])
GO
ALTER TABLE [dbo].[BE_GRUPO] CHECK CONSTRAINT [FK_BE_GRUPO_CARRERA_MODAL]
GO
ALTER TABLE [dbo].[BE_GRUPO]  WITH CHECK ADD  CONSTRAINT [FK_BE_GRUPO_NIVEL] FOREIGN KEY([CODIGONIVEL])
REFERENCES [dbo].[NIVEL] ([NVLCODIGOI])
GO
ALTER TABLE [dbo].[BE_GRUPO] CHECK CONSTRAINT [FK_BE_GRUPO_NIVEL]
GO
ALTER TABLE [dbo].[BE_GRUPO_ACTIVIDAD]  WITH CHECK ADD  CONSTRAINT [FK_BE_GRUPO_ACTIVIDAD_BE_ACTIVIDAD] FOREIGN KEY([CODIGOACTIVIDAD])
REFERENCES [dbo].[BE_ACTIVIDAD] ([CODIGO])
GO
ALTER TABLE [dbo].[BE_GRUPO_ACTIVIDAD] CHECK CONSTRAINT [FK_BE_GRUPO_ACTIVIDAD_BE_ACTIVIDAD]
GO
ALTER TABLE [dbo].[BE_GRUPO_ACTIVIDAD]  WITH CHECK ADD  CONSTRAINT [FK_BE_GRUPO_ACTIVIDAD_BE_GRUPO] FOREIGN KEY([CODIGOGRUPO])
REFERENCES [dbo].[BE_GRUPO] ([CODIGO])
GO
ALTER TABLE [dbo].[BE_GRUPO_ACTIVIDAD] CHECK CONSTRAINT [FK_BE_GRUPO_ACTIVIDAD_BE_GRUPO]
GO
ALTER TABLE [dbo].[BE_ROL_ACCESO]  WITH CHECK ADD  CONSTRAINT [FK_BE_ROL_ACCESO_BE_ACCESO] FOREIGN KEY([CODIGOACCESO])
REFERENCES [dbo].[BE_ACCESO] ([CODIGO])
GO
ALTER TABLE [dbo].[BE_ROL_ACCESO] CHECK CONSTRAINT [FK_BE_ROL_ACCESO_BE_ACCESO]
GO
ALTER TABLE [dbo].[BE_ROL_ACCESO]  WITH CHECK ADD  CONSTRAINT [FK_BE_ROL_ACCESO_BE_ROL] FOREIGN KEY([CODIGOROL])
REFERENCES [dbo].[BE_ROL] ([CODIGO])
GO
ALTER TABLE [dbo].[BE_ROL_ACCESO] CHECK CONSTRAINT [FK_BE_ROL_ACCESO_BE_ROL]
GO
ALTER TABLE [dbo].[BE_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_BE_USUARIO_BE_ROL] FOREIGN KEY([CODIGOROL])
REFERENCES [dbo].[BE_ROL] ([CODIGO])
GO
ALTER TABLE [dbo].[BE_USUARIO] CHECK CONSTRAINT [FK_BE_USUARIO_BE_ROL]
GO
ALTER TABLE [dbo].[CARRERA]  WITH CHECK ADD  CONSTRAINT [FK_CARRERA_ESCUELA] FOREIGN KEY([ESCCODIGOI])
REFERENCES [dbo].[ESCUELA] ([ESCCODIGOI])
GO
ALTER TABLE [dbo].[CARRERA] CHECK CONSTRAINT [FK_CARRERA_ESCUELA]
GO
ALTER TABLE [dbo].[CARRERA_MODAL]  WITH CHECK ADD  CONSTRAINT [FK_CARRERA_MODAL_CARRERA] FOREIGN KEY([CRRCODIGOI])
REFERENCES [dbo].[CARRERA] ([CRRCODIGOI])
GO
ALTER TABLE [dbo].[CARRERA_MODAL] CHECK CONSTRAINT [FK_CARRERA_MODAL_CARRERA]
GO
ALTER TABLE [dbo].[CARRERA_MODAL]  WITH CHECK ADD  CONSTRAINT [FK_CARRERA_MODAL_MODALIDAD] FOREIGN KEY([MDLCODIGOI])
REFERENCES [dbo].[MODALIDAD] ([MDLCODIGOI])
GO
ALTER TABLE [dbo].[CARRERA_MODAL] CHECK CONSTRAINT [FK_CARRERA_MODAL_MODALIDAD]
GO
ALTER TABLE [dbo].[FACULTAD_EXTENSION]  WITH CHECK ADD  CONSTRAINT [FK_FACULTAD_EXTENSION_ESCUELA] FOREIGN KEY([EXTCODIGOI])
REFERENCES [dbo].[ESCUELA] ([ESCCODIGOI])
GO
ALTER TABLE [dbo].[FACULTAD_EXTENSION] CHECK CONSTRAINT [FK_FACULTAD_EXTENSION_ESCUELA]
GO
ALTER TABLE [dbo].[FACULTAD_EXTENSION]  WITH CHECK ADD  CONSTRAINT [FK_FACULTAD_EXTENSION_EXTENSION] FOREIGN KEY([EXTCODIGOI])
REFERENCES [dbo].[EXTENSION] ([EXTCODIGOI])
GO
ALTER TABLE [dbo].[FACULTAD_EXTENSION] CHECK CONSTRAINT [FK_FACULTAD_EXTENSION_EXTENSION]
GO
ALTER TABLE [dbo].[FACULTAD_EXTENSION]  WITH CHECK ADD  CONSTRAINT [FK_FACULTAD_EXTENSION_FACULTAD] FOREIGN KEY([FCLCODIGOI])
REFERENCES [dbo].[FACULTAD] ([FCLCODIGOI])
GO
ALTER TABLE [dbo].[FACULTAD_EXTENSION] CHECK CONSTRAINT [FK_FACULTAD_EXTENSION_FACULTAD]
GO
ALTER TABLE [dbo].[GRADUADOS]  WITH CHECK ADD  CONSTRAINT [FK_GRADUADOS_DATOSPERSONALES] FOREIGN KEY([DTPCEDULAC])
REFERENCES [dbo].[DATOSPERSONALES] ([DTPCEDULAC])
GO
ALTER TABLE [dbo].[GRADUADOS] CHECK CONSTRAINT [FK_GRADUADOS_DATOSPERSONALES]
GO
ALTER TABLE [dbo].[INSCRIPCION]  WITH CHECK ADD  CONSTRAINT [FK_INSCRIPCION_DATOSPERSONALES] FOREIGN KEY([DTPCEDULAC])
REFERENCES [dbo].[DATOSPERSONALES] ([DTPCEDULAC])
GO
ALTER TABLE [dbo].[INSCRIPCION] CHECK CONSTRAINT [FK_INSCRIPCION_DATOSPERSONALES]
GO
ALTER TABLE [dbo].[MATRICULA]  WITH CHECK ADD  CONSTRAINT [FK_MATRICULA_INSCRIPCION] FOREIGN KEY([INSCODIGOI])
REFERENCES [dbo].[INSCRIPCION] ([INSCODIGOI])
GO
ALTER TABLE [dbo].[MATRICULA] CHECK CONSTRAINT [FK_MATRICULA_INSCRIPCION]
GO


/****** ACCESOS ******/

INSERT INTO [dbo].[BE_ACCESO] ([NOMBRE]) VALUES 
	('EDITAR USUARIOS'), 
	('EDITAR ROLES'), 
	('EDITAR TAREAS'),
	('EDITAR ENCUESTAS'),
	('EDITAR BECAS')
GO


/****** ACTIVIDAD GENERAL ******/

INSERT INTO [dbo].[BE_ACTIVIDAD_GENERAL] ([NOMBRE]) VALUES 
	('SALUD'),
	('PSICOLOGIA'),
	('ACADEMICO')
GO


/****** BECA TIPO ******/

INSERT INTO BE_BECA_TIPO (NOMBRE) VALUES
  	('Para familiares de docentes o estudiantes y trabajadores activos de la Uisrael'),
  	('Por excelencia académica'),
  	('Apoyo socio-económico'),
  	('Por discapacidad')
GO

/****** BECA TIPO DOCUMENTO ******/

GO

/****** DATOS SISTEMA ******/

INSERT INTO [dbo].[BE_DATOS_SISTEMA] ([NOMBRE],[VALOR],[ACTIVO]) VALUES
	('encuesta', '7', 1),
	('userMailCredentials', 'bienestar@uisrael.edu.ec', 1),
	('passwordCredentials', 'Uisrael2016', 1),
	('smtpServer', 'smtp.gmail.com', 1),
	('smtpPort', '587', 1),
	('becaMailNotification', 'bienestar@uisrael.edu.ec', 1)
GO


/****** ROL ******/

INSERT INTO [dbo].[BE_ROL] ([NOMBRE],[ACTIVO]) VALUES 
	('ADMINISTRADOR', 1),
	('DOCENTE', 1),
	('INVITADO', 1),
	('SISTEMAS', 1)
GO


/****** ROL ACCESO ******/

INSERT INTO [dbo].[BE_ROL_ACCESO] ([CODIGOROL],[CODIGOACCESO],[VALIDO]) VALUES 
	(1, 1, 1),
	(1, 2, 1),
	(1, 3, 1),
	(1, 4, 1)
GO


/****** USUARIO ADMINISTRADOR ******/

INSERT INTO [dbo].[BE_USUARIO] ([NOMBREUSUARIO],[NOMBRECOMPLETO],[CEDULA],[CORREO],[CONTRASENAANTERIOR],[CONTRASENAACTUAL],[ESTADO],[CODIGOROL]) VALUES
    ('admin', 'ADMINISTRADOR', '1234567890', 'bienestar@uisrael.edu.ec', 'root', 'root', 1, 1)
GO