<html>
<head>
	<title>Encuestas</title>
</head>
<body ng-app="BienestarApp" style="background:none;">

    <h2>Encuestas</h2>

    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/custom.css" rel="stylesheet" type="text/css" />
    <link href="../../Scripts/ui-grid/ui-grid-stable.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Scripts/ng-dialog/ngDialog.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Scripts/ng-dialog/ngDialog-theme-default.css" rel="stylesheet" type="text/css" />
    <link href="../../Scripts/ng-dialog/ngDialog-theme-flat.css" rel="stylesheet" type="text/css" />

    <link href="../../Scripts/Utils/primeui/css/growl/growl.css" rel="stylesheet" type="text/css" />
    <link href="../../Scripts/Utils/primeui/css/core/core.css" rel="stylesheet" type="text/css" />
    <link href="../../Scripts/Utils/primeui/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Scripts/Utils/primeui/themes/aristo/theme.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="../../Scripts/Utils/jquery/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../../Scripts/Utils/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../Scripts/Utils/primeui/js/growl/growl.js"></script>
    <script type="text/javascript" src="../../Scripts/Utils/primeui/js/core/core.js"></script>

    <script type="text/javascript" src="../../Scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../Scripts/ui-grid/ui-grid-stable.min.js"></script>
    <script type="text/javascript" src="../../Scripts/ng-dialog/ngDialog.min.js"></script>
    <script type="text/javascript" src="../../Scripts/app.js"></script>


    <link href="../../Content/encuestas.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="../../Scripts/Utils/angular-messages.js"></script>
    <script type="text/javascript" src="../../Scripts/Controllers/encuestas.js?nocache=<%=RandomNumber%>"></script>
    
    <div id="messages"></div>
    <form id="formEncuesta" ng-submit="">
    <div ng-controller="EncuestasController as Main" class="encuestas">
    
	    <div class="poll-display">
	    	<textarea id="encuestaTitulo" style="height:1em;" ng-model="poll.title" class="title question" placeholder="Título de la encuesta" row="1" required></textarea><br/><br/>
	    	
	    	<!-- questions -->
	    	<div ng-repeat="question in poll.questions">
	    		<textarea ng-model="question.title" class="question" placeholder="Pregunta" row="1" required></textarea>
	    		<table border="0" style="margin-bottom:5px;"><tr>
	    			<td><select ng-options="o.v as o.n for o in [{n:'Selección múltiple', v:1},{n:'Selección única', v:2}, {n:'Párrafo', v:3}]"
			    			ng-model="question.type"></select></td>
	    			<td><button ng-show="question.type != 3" ng-click="question.addResponse()">+ Añadir opción de respuesta</button></td>
	    			<td><button ng-show="poll.questions.length > 1" ng-click="poll.removeQuestion(question.id)">- Eliminar pregunta</button></td>
	    		</tr></table>
	    		<!-- responses -->
	    		<div ng-show="question.type != 3" ng-repeat="response in question.responses" class="response">
		    		<img ng-show="question.type == 2" src="../../Content/radio-button-30.png" class="input-img"/>
		    		<img ng-show="question.type == 1" src="../../Content/checkbox-30.png" class="input-img"/>
		    		<input type="text" ng-model="response.text" placeholder="Opción de respuesta" required />
		    		<button ng-show="question.responses.length > 1" ng-click="question.removeResponse(response.id)" class="button-remove" title="Elminar opción de respuesta">X</button>
		    	</div>
	    		<div ng-show="question.type == 3"><textarea class="question" placeholder="Párrafo de respuesta larga" row="4" readonly></textarea><br/><br/></div>
	    	</div>

	    	<button ng-click="poll.addQuestion()">Añadir pregunta</button>
    	</div>
		
		<div class="poll-display">
	    	<span>{{poll.title}}</span></span><br/><br/>
	    	<div ng-repeat="question in poll.questions">
	    		<span>{{question.title}}</span><br/><br/>
	    	</div>
		</div>
		<br/><br/><button type="submit" >Guardar encuesta</button>
    </div>
    </form>

</body>
</html>