.encuestas {
    margin: 10px;
}

.encuestas table,
.encuestas td {
    border: 0;
}

.encuestas .col-md-4 {
    width: 33.33333333333333%;
}


.encuestas .col-md-1, 
.encuestas .col-md-2, 
.encuestas .col-md-3, 
.encuestas .col-md-4, 
.encuestas .col-md-5, 
.encuestas .col-md-6, 
.encuestas .col-md-7, 
.encuestas .col-md-8, 
.encuestas .col-md-9, 
.encuestas .col-md-10, 
.encuestas .col-md-11 {
    float: left;
}


.encuestas .col-xs-1, 
.encuestas .col-xs-2, 
.encuestas .col-xs-3, 
.encuestas .col-xs-4, 
.encuestas .col-xs-5, 
.encuestas .col-xs-6, 
.encuestas .col-xs-7, 
.encuestas .col-xs-8, 
.encuestas .col-xs-9, 
.encuestas .col-xs-10, 
.encuestas .col-xs-11, 
.encuestas .col-xs-12, 
.encuestas .col-sm-1, 
.encuestas .col-sm-2, 
.encuestas .col-sm-3, 
.encuestas .col-sm-4, 
.encuestas .col-sm-5, 
.encuestas .col-sm-6, 
.encuestas .col-sm-7, 
.encuestas .col-sm-8, 
.encuestas .col-sm-9, 
.encuestas .col-sm-10, 
.encuestas .col-sm-11, 
.encuestas .col-sm-12, 
.encuestas .col-md-1, 
.encuestas .col-md-2, 
.encuestas .col-md-3, 
.encuestas .col-md-4, 
.encuestas .col-md-5, 
.encuestas .col-md-6, 
.encuestas .col-md-7, 
.encuestas .col-md-8, 
.encuestas .col-md-9, 
.encuestas .col-md-10, 
.encuestas .col-md-11, 
.encuestas .col-md-12, 
.encuestas .col-lg-1, 
.encuestas .col-lg-2, 
.encuestas .col-lg-3, 
.encuestas .col-lg-4, 
.encuestas .col-lg-5, 
.encuestas .col-lg-6, 
.encuestas .col-lg-7, 
.encuestas .col-lg-8, 
.encuestas .col-lg-9, 
.encuestas .col-lg-10, 
.encuestas .col-lg-11, 
.encuestas .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


.encuestas .form-group {
    box-sizing: initial ! important;
}


.encuestas .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.encuestas .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.428571429;
}

.encuestas .ng-message {
    color: #ce8483;
}
.encuestas input .ng-invalid {
    border: 1px solid;
    border-color: #ce8483;
    background-color: rgba(206, 132, 131, 0.05);
    outline:0;
}
.encuestas input .ng-invalid:focus {
    -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, .075), 0 0 7px #ce8483;
            box-shadow: inset 0 2px 2px rgba(0, 0, 0, .075), 0 0 7px #ce8483;
    outline:0;
}
.encuestas .title {
    font-size: 34px;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid red;
    resize: none;
}
.encuestas .question {
    max-width: 100%;
    width: 100%;
    /*background-color: rgba(92, 135, 178, 0.08);*/
    border-bottom: 2px solid red;
    overflow:hidden;
    outline: none;
    resize:none;
    font-size: 18px;
    font-weight: bold;
}
.encuestas .response {
    vertical-align: middle;
    height: 35px;
}
.encuestas .button-remove {
    height: 27px;
    font-weight: bold;
    vertical-align: middle;
}
textarea.ng-valid,
input[type="text"].ng-valid {
    border: none;
}
.encuestas input[type="text"],
.encuestas input[type="button"],
.encuestas button,
.encuestas select {
    border-radius: 4px;
    height: 27px;
}
.encuestas input[type="text"] {
    width: 90%;
    height: 27px;
    font-size: 15px;
    padding: 2px;
    vertical-align: middle;
}
.encuestas input[type="radio"],
.encuestas input[type="checkbox"] {
    margin: 3px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.encuestas .input-img {
    vertical-align: middle;
    width: 25px;
}
.encuestas .poll-display,
.encuestas .poll-preview {
    width: 100%;
    margin: 10px; 
    display: inline-block;
    vertical-align: top;
}
.encuestas .poll-preview .content {
    width: 60%;
    margin: 0 auto; 
}
.encuestas .poll-preview .content .response{
    margin: 10px;
    font-size: 15px;
    font-weight: normal;
}
.encuestas .poll-preview .content .question textarea.ng-valid{
    border:1px solid #E0E0E2;
    max-width: 100%;
}
.encuestas .poll-preview .content .question textarea {
    height: 100px;
}
.encuestas textarea {
    margin-bottom: 5px;
    padding: 5px;
}
.encuestas .grid button {
    height: 24px;
}